@import "../../../../../node_modules/bulma/sass/utilities/initial-variables";
$bg-color: #4a7fb2;
$bg-color-accent: $bg-color;
$bg-hover-color: #005f9f;
$bg-active-color: #006faf;

ul.menu-items-list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  a {
    width: 100%;
    background: $bg-color;
    transition: all 0.3s ease;
    color: white;
    li {
      width: 100%;
      list-style-type: none;
      display: inline-flex;
      .icon {
        width: 76px;
        padding: 20px;
        align-self: center;
        i {
          align-self: center;
          justify-content: center;
        }
      }
      span {
        width: 100%;
        transition: all 0.3s ease;
        background: $bg-color-accent;
        padding: 10px;
        &:hover {
          background: $bg-hover-color;
        }
      }
    }
    &:hover {
      background: $bg-hover-color;
      color: white;
    }
    &.is-active {
      background: $bg-hover-color;
      li {
        span {
          background: $bg-hover-color;
        }
      }
    }

    @media only screen and (max-width: $desktop) {
      li {
        span {
          display: none;
        }
      }
    }

    &.wrapped {
      li {
        span {
          display: none;
        }
      }
    }
  }
}
