<div class="columns">
    <div class="column">
        <h2>Gestión de Materias</h2>
    </div>
    <div class="column has-text-right">
        <button mat-raised-button color="primary" (click)="createSubject()">
            <i class="fas fa-plus"></i>
            Agregar Materia
        </button>
    </div>
</div>

<div class="mat-elevation-z4">
    <div>
       <nz-table #subjectTable [nzBordered]="true" nzSize="middle" [nzWidthConfig]="['5%', '170px', '40%', '40px', '60px']" [nzData]="rawData">
           <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th class="fixed">Descripción</th>
                <th>Tutores</th>
                <th></th>
            </tr>
           </thead>
           <tbody>
            <tr *ngFor="let row of subjectTable.data">
                <td>{{row.id}}</td>
                <td>{{row.name}}</td>
                <td class="fixed">{{row.description}}</td>
                <td class="has-text-centered">{{row.tutorsCount}}</td>
                <td class="has-text-centered">
                    <button class="button is-primary is-small is-outlined" (click)="editSubject(row.id)">
                        <i class="fas fa-edit"></i>
                    </button>
                    <nz-divider nzType="vertical"></nz-divider>
                    <button class="button is-danger is-small is-outlined"
                            nz-popconfirm
                            nzPopconfirmTitle="¿Está seguro de que desea borrar esta materia?"
                            nzPopconfirmPlacement="top"
                            (nzOnConfirm)="confirmDelete(row.id)"
                    >
                        <i class="fas fa-trash "></i>
                    </button>
                </td>
            </tr>
           </tbody>
       </nz-table>
    </div>
    <ngx-spinner [fullScreen]="true" size="large" type="ball-clip-rotate-multiple">
    </ngx-spinner>
</div>


<app-subject-modal (submitted)="initializePage()"></app-subject-modal>


