@import '../../../../node_modules/bulma/sass/utilities/initial-variables';

$side-bar-width: 270px;
$wrapped-width: 80px;

.content {
  display: flex;
  flex-direction: row;

  .sidebar {
    height: 100vh;
    overflow-y: auto;
    width: $side-bar-width;
    transition: all 0.3s ease;
  }

  .wrapper {
    width: calc(100% - 150px);
    .body-content {
      padding: 20px;
    }
    background: whitesmoke;
  }

  &.wrapped {
    .sidebar {
      width: $wrapped-width;
      transition: all 0.3s ease;
    }
  }

  @media only screen and (max-width: $desktop){
    .sidebar {
      width: $wrapped-width;
      transition: all 0.3s ease;
    }
  }
}
