
<div class="navbar-container">
  <nav>
    <div class="left">
      <div class="profile">
        <img src="https://images.unsplash.com/photo-1506919258185-6078bba55d2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
      </div>
      <div class="content">
        <p>Gustavo Estevez</p>
      </div>
    </div>
    <div class="center">
      <div class="brand">
        <img src="../../../assets/logo-dark.png" />
      </div>
    </div>
    <div class="right">
      <div class="dropdown"  [ngClass]="{'is-active': isMenuActive}">
        <div class="dropdown-trigger">
          <button class="options-btn" aria-haspopup="true" aria-controls="dropdown-menu" (click)="openDropDown()">
              <i class="fas fa-cog"></i>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a href="#" class="dropdown-item">
              Dropdown item
            </a>
            <a class="dropdown-item">
              Other dropdown item
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
