
@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

$primary: #16A9FF;
$link: $blue;
$info: #0E5780;
$success: $green;
$warning: $yellow;
$danger: #D24437;
$dark: $grey-darker;
$text: $grey-dark;

$switch-background: $danger;

@import '../../node_modules/bulma/sass/utilities/_all.sass';
