<div class="content">
    <h1>Olvidar Contraseña</h1>
    <p>
        Por favor ingrese su correo electrónico
        y le estaremos enviando instrucciones de como
        reiniciar su contraseña.
    </p>
    <form [formGroup]="emailForm" (submit)="submitForm()">
        <app-text-input-form-control
                label="Correo Electrónico"
                type="text"
                placeholder="Ingrese su correo electrónico"
                icon="fas fa-envelope" formControlName="email"
                [control]="email"
        ></app-text-input-form-control>
        <br>
        <button class="button is-primary is-fullwidth">
            Enviar
            &nbsp;
            <i class="fas fa-paper-plane"></i>
        </button>
    </form>
    <a routerLink="/pages/login">Iniciar Sesión</a>
    <ngx-loading [show]="isLoading"></ngx-loading>
</div>
