
<div class="content">
    <h1>Restaure su Contraseña</h1>
    <div class="valid-token" *ngIf="isValid; else invalid">
        <form [formGroup]="passwordResetForm" (submit)="submitForm()">
            <div class="columns">
                <div class="column">
                    <app-text-input-form-control
                            label="Contraseña"
                            placeholder="Ingrese su nueva contraseña"
                            [control]="password"
                            icon="fas fa-lock"
                            type="password"
                            formControlName="password"
                    ></app-text-input-form-control>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <app-text-input-form-control
                            label="Confirmar Contraseña"
                            placeholder="Confirme su nueva contraseña nuevamente"
                            [control]="confirmPassword"
                            icon="fas fa-lock"
                            type="password"
                            formControlName="confirmPassword"
                    ></app-text-input-form-control>
                    <p class="is-danger help" *ngIf="!passwordsMatch && passwordResetForm.valid">Las contraseñas deben de ser iguales</p>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <button [disabled]="passwordResetForm.invalid && !passwordsMatch"
                            class="button is-primary is-fullwidth">Cambiar Contraseña</button>
                </div>
            </div>
        </form>
    </div>
    <ng-template #invalid>
        <h4 *ngIf="!isLoading">Este enlace no es valido, vuelva a hacer una nueva solicitud.</h4>
    </ng-template>
</div>


<ngx-loading [show]="isLoading"></ngx-loading>
