<div class="student-list-item">
    <div class="profile-img">
        <img src="https://www.parenttoolkit.com/images/dmImage/SourceImage/standard_1500x1125_teengirl.jpg">
    </div>
    <div class="info">
        <span class="name">Eliana Estevez</span>
        <span>eliasaestevez@hotmail.com</span>
        <span>Edad: 15</span>
    </div>
    <div class="controls">
        <div class="field">
            <input [id]="idKey" type="checkbox" name="switchRoundedSuccess" class="switch is-rounded is-success" checked="checked">
            <label [for]="idKey"></label>
        </div>
    </div>
</div>
