<div class="student-list-item">
    <div class="profile-img">
        <img [src]="student.profileImageUrl">
    </div>
    <div class="info">
        <span class="name">{{student.fullName}}</span>
        <span>{{student.email}}</span>
        <span>Edad: {{student.age}}</span>
    </div>
    <div class="controls">
        <div class="field">
            <input [id]="idKey" type="checkbox" name="switchRoundedSuccess" class="switch is-rounded is-success" checked="checked">
            <label [for]="idKey"></label>
        </div>
    </div>
</div>
