<div class="form-container">
  <div class="columns">
    <div class="column has-text-centered">
      <h1>Formulario de Registro para Padre</h1>
      <h2>Estudiante: [Aqui va el nombre del estudiante]</h2>
    </div>
  </div>

  <form [formGroup]="registrationForm">
    <div class="columns">
      <div class="column">
        <app-text-input-form-control
          label="Nombre" type="text" icon="fas fa-dice-one" formControlName="name"
          [control]="name"
          placeholder="Ingrese su nombre aqui" ></app-text-input-form-control>
      </div>
      <div class="column">
        <app-text-input-form-control
          label="Apellido" type="text" icon="fas fa-dice-two" formControlName="lastName"
          [control]="lastName"
          placeholder="Ingrese su apellido aqui"
        ></app-text-input-form-control>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        //TODO: Gender
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <app-text-input-form-control
          label="Contraseña" type="password" icon="fas fa-lock" formControlName="password"
          [control]="password"
          placeholder="Ingrese su contraseña"
        ></app-text-input-form-control>
      </div>
      <div class="column">
        <app-text-input-form-control
          label="Confirmar Contraseña" type="password" icon="fas fa-lock" formControlName="confirmPassword"
          [control]="confirmPassword"
          placeholder="Confirme su contraseña"
        ></app-text-input-form-control>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <app-text-input-form-control
          label="Fecha de nacimiento" type="date" icon="fas fa-calendar-day" formControlName="birthDate"
          [control]="birthDate"
          placeholder="Fecha de nacimiento"
        ></app-text-input-form-control>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Cedula de Identidad</label>
          <div class="control has-icons-left">
            <input class="input" formControlName="personalId"
                   mask="000-0000000-0"
                   [ngClass]="{'is-danger': checkIfControlHasErrors(personalId)}"
                   placeholder="Documento de Identidad Dominicana"/>
            <span class="icon is-small is-left">
               <i class="fas fa-id-card"></i>
           </span>
            <div class="form-errors" *ngIf="checkIfControlHasErrors(personalId)">
              <p class="help is-danger" *ngIf="personalId.errors['required']">Este es un campo requerido</p>
              <p class="help is-danger" *ngIf="personalId.errors['InvalidId']">Debe de ingresar una cedula valida</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
