<div class="form-container">
  <div class="columns">
    <div class="column has-text-centered title-section">
      <h1>Formulario de Registro para Padre</h1>
      <h2>Estudiante: {{student.name}} {{student.lastName}}</h2>
    </div>
  </div>

  <form [formGroup]="registrationForm" (ngSubmit)="submitForm()">
    <div class="columns">
      <div class="column">
        <app-text-input-form-control
          label="Nombre" type="text" icon="fas fa-dice-one" formControlName="name"
          [control]="name"
          placeholder="Ingrese su nombre aqui" ></app-text-input-form-control>
      </div>
      <div class="column">
        <app-text-input-form-control
          label="Apellido" type="text" icon="fas fa-dice-two" formControlName="lastName"
          [control]="lastName"
          placeholder="Ingrese su apellido aqui"
        ></app-text-input-form-control>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Sexo</label>
          <div class="select" style="width: 100%">
            <select formControlName="gender" style="width: inherit;">
              <option value="1">Masculino</option>
              <option value="2">Femenino</option>
            </select>
          </div>
        </div>
      </div>
      <div class="column">
        <app-text-input-form-control
          label="Correo Electronico" placeholder="Ingrese su correo electronico"
          formControlName="email"
          type="email" [control]="email" icon="fas fa-envelope"
        ></app-text-input-form-control>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <app-text-input-form-control
          label="Contraseña" type="password" icon="fas fa-lock" formControlName="password"
          [control]="password"
          placeholder="Ingrese su contraseña"
        ></app-text-input-form-control>
      </div>
      <div class="column">
        <app-text-input-form-control
          label="Confirmar Contraseña" type="password" icon="fas fa-lock" formControlName="confirmPassword"
          [control]="confirmPassword"
          placeholder="Confirme su contraseña"
        ></app-text-input-form-control>
        <p class="help is-danger" *ngIf="!passwordsMatch">Las contraseñas no coinciden</p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <app-text-input-form-control
          label="Fecha de nacimiento" type="date" icon="fas fa-calendar-day" formControlName="birthDate"
          [control]="birthDate"
          placeholder="Fecha de nacimiento"
        ></app-text-input-form-control>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Cedula de Identidad</label>
          <div class="control has-icons-left">
            <input class="input" formControlName="personalId"
                   mask="000-0000000-0"
                   [ngClass]="{'is-danger': checkIfControlHasErrors(personalId)}"
                   placeholder="Documento de Identidad Dominicana"/>
            <span class="icon is-small is-left">
               <i class="fas fa-id-card"></i>
           </span>
            <div class="form-errors" *ngIf="checkIfControlHasErrors(personalId)">
              <p class="help is-danger" *ngIf="personalId.errors['required']">Este es un campo requerido</p>
              <p class="help is-danger" *ngIf="personalId.errors['InvalidId']">Debe de ingresar una cedula valida</p>
              <p class="help is-danger" *ngIf="personalId.errors['Mask error']">Debe de ingresar una cedula valida</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <button class="button is-info is-fullwidth"  [disabled]="registrationForm.invalid">Registrarse</button>
      </div>
    </div>
  </form>
</div>

<ngx-loading [show]="isLoading"></ngx-loading>
