@import '../../../../node_modules/bulma/sass/utilities/initial-variables';
$side-bar-width: 270px;
$wrapped-width: 80px;

.sidebar-content {
  display: flexbox;
  flex-direction: row;
  .logo {
    margin: -5px 15px;
    text-align: center;
    .normal {
      display: block;
    }

    .small {
      display: none;
      width: 50px;
    }
  }

  @media only screen and (max-width: $desktop) {
    .logo {
      margin: -15px 10px;
      .small {
        display: block;
      }
      .normal {
        display: none;
      }
    }
  }

  .logo.wrapped {
    margin: -15px 10px;
      .small {
        display: block;
      }
      .normal {
        display: none;
      }
  }
}
